@page
@model AspNetCoreWebApplication.Pages.CategoryModel
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <title>Category</title>
</head>
<body>
    @foreach (var item in Model.Items)
    {
        <div class="bg-light card card-text font-weight-bolder font-italic">ToDoItem: @item.Name</div><br />
    }
</body>
</html>